<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zxxapp.mall.maintenance">

    <!-- Required -->
    <permission
        android:name="com.zxxapp.mall.maintenance.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required -->
    <uses-permission android:name="com.zxxapp.mall.maintenance.permission.JPUSH_MESSAGE" />
    <!-- NoHttp相关权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".app.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- weixin begin-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true" />
        <!-- weixin end-->

        <!--bugly begin-->
        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="7b7b49a896" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0.0" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="debug" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />
        <!--bugly end-->

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <!-- alipay sdk end -->






        <activity
            android:name=".ui.TransitionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ViewBigPicTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ViewBigPicTheme">
        </activity>
        <activity
            android:name=".ui.one.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage" />
        <activity
            android:name=".ui.one.SlideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage" />
        <activity
            android:name=".ui.one.SlideScrollViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage" />
        <activity
            android:name=".ui.one.SlideShadeViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage" />
        <activity
            android:name=".ui.one.MovieDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage" />
        <activity
            android:name=".view.viewbigimage.ViewBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ViewBigPicTheme" />
        <activity
            android:name=".view.webview.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.one.DoubanTopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.one.OneMovieDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage" />
        <activity
            android:name=".ui.menu.NavHomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.menu.NavDeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.menu.NavAboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.book.child.BookDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.gank.child.GoodsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.menu.NavDownloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.child.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.shopping.OrderActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.mine.child.AutoLoginActivity" />
        <activity android:name=".ui.shopping.AddressListActivity"></activity>


    </application>

</manifest>